section{
    display: flex;
    width: 1280px;
    height: 700px;
    }
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    }
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    }

    @media screen and (max-width: 768px) {
        .product {
            width: 45%;
        }
    }

    @media screen and (max-width: 576px) {
        .product {
            width: 100%;
        }
    }